<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-evenly">
        <span class="text-muted">&copy; CampMe <%= new Date().getFullYear() %></span>
        <span class="text-muted">Privacy Policy</span>
        <span class="text-muted">Terms of Service</span>
    </div>
</footer>